<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLearning"
        tools:targetApi="31">
        <activity
            android:name=".admob.RewardNextActivity"
            android:exported="false" />
        <activity
            android:name=".admob.AdmobActivity"
            android:exported="false" /> <!-- Admob Metadata -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4131003179451279~2907515739" />

        <activity
            android:name=".recyclerview.advanced.swipeitem.RVSwipeItemActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.advanced.multiitemselection.RVMultiSelActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.advanced.multipleviewtype.RVMultiViewTypeActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.advanced.singleitemselection.RVSingleSelActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.advanced.cardview.RVCardViewActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.advanced.AdvancedRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.cloudmessaging.FCMActivity"
            android:exported="false" />
        <!--
        https://firebase.google.com/docs/cloud-messaging/android/client
        Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/cloud_messaging_bell_icon" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".firebase.chatmvvm.view.GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.chatmvvm.view.ChatGroupsActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.chatmvvm.view.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.journal.JournalAddActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.journal.JournalListActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.journal.JournalSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.journal.JournalActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.firestore.FirestoreActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.phonebook.PhoneBookActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.FirebaseActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".workmanager.WorkerActivity"
            android:exported="false" />
        <activity
            android:name=".retrofitandpaging.view.PagingActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit.view.MovieActivity"
            android:exported="false" />
        <activity
            android:name=".mvvm.view.AddContactActivity"
            android:exported="false" />
        <activity
            android:name=".mvvm.view.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".viewmodel.CounterActivity"
            android:exported="false" />
        <activity
            android:name=".databinding.QuadraticEquationCalcActivity"
            android:exported="false" />
        <activity
            android:name=".databinding.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.FragmentsActivity"
            android:exported="false" />
        <activity
            android:name=".broadcastreceiver.AirplaneModeReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".services.MusicPlayServiceActivity"
            android:exported="false" />
        <activity
            android:name=".cardview.SportsCardViewActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.MarketAppActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.gridview.VolCalcResultActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.gridview.VolumeCalcActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.PlanetsActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".meidiaplayer.FrenchTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.WidgetsActivityAdded"
            android:exported="false"
            android:label="@string/title_activity_widgets_added" />
        <activity
            android:name=".widgets.enhancement.ViewModelWidgetsActivityAdded"
            android:exported="false" />
        <activity
            android:name=".widgets.WidgetsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.MusicPlayService" />
        <service
            android:name=".firebase.cloudmessaging.CloudMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".broadcastreceiver.AirplaneModeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>